body {
  margin: 0;
  padding: 0;
  background-color: #0d0714;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f50057;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff007a;
}

::-webkit-scrollbar-thumb:active {
  background: #ff4d94;
}
